<%= simple_form_for @server ,:html => {:class => 'form-horizontal'} do |f| %>
	<fieldset>
		<%= f.input :name, :required => true, :autofocus => true %>
		<%= f.input :ip_address, :required => true %>
		<%= f.hidden_field :creator, :value => current_user.name %>
	</fieldset>

	<div class="form-actions">
	    <%= f.button :submit, "Guardar", :class => "btn btn-primary" %>
		<%= link_to "Cancelar", servers_path, :class => "btn" %>
	</div>
<% end %>