<div class="page-header">
	<h1>Servidores <small>Ver como se activan de forma remota</small></h1>
</div>
<div class="new-resource">
	<%= add_resource_button("server", "icon-plus") %>
</div>
<div id="servers">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Dirección IP</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% @servers.each do |server| %>
				<tr>
					<td><%= server.name %></td>
					<td><%= server.ip_address %></td>
					<td>
						<%= edit_resource_button(server) %>
						<%= delete_resource_button(server) %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
