<div class="page-header">
	<h1><%= @server.name %> <small><%= @server.ip_address %></small></h1>
</div>
<div class="new-resource">
	<%= activate_server_button(@server) %>
</div>
<div id="description" class="row">
	<div class="span5">
		<dl class="dl-horizontal">
			<dt>Nombre</dt>
			<dd><%= @server.name %></dd>
			<dt>Dirección IP</dt>
			<dd><%= @server.ip_address %></dd>
			<dt>Espacio Libre</dt>
			<dd><%= number_to_human_size(@server.free_space) %></dd>
		</dl>
	</div>
	<div class="span4">
		<dl class="dl-horizontal">
			<dt>Creado</dt>
			<dd><%= l @server.created_at, :format => :short %></dd>
			<dt>Creado por</dt>
			<dd><%= @server.creator %></dd>
		</dl>
	</div>
</div>
<div id="files">
	<%= render_files @server %>
</div>