<div class="page-header">
	<h1>Trabajo <%= @job.id %></h1>
</div>
<div id="description" class="row">
	<div class="span5">
		<dl class="dl-horizontal">
			<dt>Archivo</dt>
			<dd><%= link_to @job.file_name, @job.file_url  %></dd>
			<dt>Ejecutado</dt>
			<dd><%= @job.start_time %></dd>
			<dt>Responable</dt>
			<dd><%= @job.user_name %></dd>
		</dl>
	</div>
	<div class="span4">
		<dl class="dl-horizontal">
			<dt>Servidor</dt>
			<dd><%= @job.server_name %></dd>
			<dt>Terminado</dt>
			<dd><%= @job.finish_time %></dd>
			<dt>Duración</dt>
			<dd><%= job_duration_time(@job) %></dd>
		</dl>
	</div>
</div>
<% if @job.uncompleted? %>
	<%= render :partial => 'uncompleted_information' %>
<% elsif @job.running? %>
	<%= render :partial => 'running_information' %>
<% end %>