<div class="page-header">
	<h1>Trabajo <%= @job.id %></h1>
</div>
<div id="description" class="row">
	<div class="span5">
		<dl class="dl-horizontal">
			<dt>Archivo</dt>
			<dd><%= link_to @job.file_name, @job.file_url  %></dd>
			<dt>Ejecutado</dt>
			<dd><%= @job.start_time %></dd>
			<dt>Responable</dt>
			<dd><%= @job.user_name %></dd>
		</dl>
	</div>
	<div class="span4">
		<dl class="dl-horizontal">
			<dt>Servidor</dt>
			<dd><%= @job.server_name %></dd>
			<dt>Terminado</dt>
			<dd><%= @job.finish_time %></dd>
			<dt>Duración</dt>
			<dd><%= distance_of_time_in_words(@job.start_time, @job.finish_time, :include_seconds => true) %></dd>
		</dl>
	</div>
</div>
<div class="alert alert-error">
	<h4 class="alert-heading">Ocurrió el siguiente error</h4>
	<br>
	<p><%= format_error_message(@job.error_message) %></p>
	<div style="margin: 20px auto 20px auto; width: 150px">
		<%= link_to "#{content_tag(:li, '', :class => 'icon-refresh')} Sincronizar".html_safe, sincronize_package_path(@job.package.id, :servers => [@job.server.id], :job_id => @job.id) , :class => "btn" %>
	</div>
</div>
